@using SalesWebApp.Models

@model SalesRequest

<form action="/" method="post" enctype="multipart/form-data">
<div class="text-center">
    <h1> Enter Sales Details</h1>
    <div class="row">
        <div class="col-3">
            Name: 
        </div>
        <div class="col-6">
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Category:
        </div>
        <div class="col-6">
            <input asp-for="Category" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Price:
        </div>
        <div class="col-6">
            <input asp-for="Price" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Quantity:
        </div>
        <div class="col-6">
            <input asp-for="Quantity" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <button class="btn btn-success" type="submit">Apply</button>
        </div>
    </div>
</div>
</form>